#header h1.cap:after {
	content: 'beta';
	vertical-align: top;
	font-size: 50%;
	padding-left: 3px;
}

#main {
	width: 750px;
}

#main p {
	font-family: Georgia, Palatino, Palatino Linotype, FreeSerif, serif;
	line-height: 1.3em;
}

#informatives {
	padding: 0 1em;
	width: 160px;
}

#informatives ul {
	width: auto;
	margin: .75em 0 1.5em;
}

#informatives .sidenav {
	list-style-type: none;
}

#informatives .sidenav .indent {
	list-style-type: square;
	list-style-position:inside;
}

#informatives .sidenav.current a,
#informatives ul .current a {
	color: #444;
	text-decoration: underline;
}

#informatives ul.sidenav a {
	font-weight: 600;
	text-transform: uppercase;
}

#informatives ul.sidenav a:hover {
	color: #444;
}

#informatives #sidenavHeader {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 10px;
}

#informatives .sidenavLink {
	margin: 0 0 5px -10px;
}

#informatives a.sidenavBlogLink {
	border: 1px solid #ccc;
	padding: 3px 6px 3px 38px;
	border-radius: 3px;
	font-size: 10px;
	font-weight: 600;
	color: #444;
	background: #fafafa url(http://wordpress.org/favicon.ico) no-repeat 2px 0;
}

#informatives .twitter-follow-button {
	margin: 11px 0 0 -10px;
}

#informatives a.sidenavBlogLink:hover {
	background-color: #efefef;
}

#content.section {
	padding: 0 10px 10px;
	margin-bottom: 10px;
	min-height: 350px;
	background: transparent url(https://static.zeit.de/static/img/bg_content_eee.gif) repeat-y 782px 0px;
}

#main h1 {
	font-size: 1.6em;
	margin: 10px 0 20px;
}

#main h2 {
	font-size: 1.2em;
}

#main h3 {
	color: #900;
	font-size: 0.6em;
	text-transform: uppercase;
	margin: 14px 0 10px;
}

#main h2, #main p, #main code{
	margin: 10px 0;
}

#signUpWrapper input, #send, select {
	border: 1px solid #ccc;
	padding: 3px 6px;
	border-radius: 3px;
}

#main .alignCenter {
	text-align: center;
}

#main input:focus:invalid {
	border-color: #900;
}

#main input:required:valid {
	border-color: #3CB371;
}

#main #send {
	cursor: pointer;
	font-size: 0.8em;
}

#main select {
	cursor: pointer;
}

#main #signUpWrapper {
	height: 105px;
	position: relative;
}

#main #signUpWrapper table, #main #signUpWrapper td {
	border: none;
}

#main #signUpWrapper td {
	width: 50%;
	text-align: center;
}

#main #signUpWrapper #recaptcha_image {
	margin: auto;
}

#main #signUpWrapper #signUpForm input {
	width: 288px;
}

#main #signUpWrapper #signUpForm input[name="email"] {
	margin-top: 5px;
}

#main #signUpWrapper #signUpError {
	position: absolute;
	display: none;
	top: 10px;
}

#main #signUpWrapper #signUpForm #send:hover {
	border-color: #bbb;
	background-color: #e9e9e9;
}

#main #signUpWrapper #signUpAgreement {
	font-size: 11px;
	width: 120px;
	display: inline-block;
	vertical-align: -5px;
}

.explorerWrapper {
	min-height: 70px;
	margin-bottom: 20px;
}

#main pre, #signUpWrapper {
	border: 1px solid #ccc;
	background-color: #fafafa;
	overflow: auto;
	padding: 5px 10px;
	border-radius: 3px;
}

#main hr {
	border: none;
	border-top: 1px solid #eaeaea;
	margin: 24px 0;
}

.explorerWrapper hr {
	margin: 12px 0;
}

#main code, #explorerXAuth, #explorerEndpoint,
#explorerParamWrapper input, #explorerEndpointId {
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
	font-size: 1em;
	line-height: 1.125em;
}

#main p code {
	background-color: #fafafa;
	outline: 1px solid #ccc;
}

#explorerStatus hr {
	margin: 10px 0;
}

#explorerEndpoint {
	width: 100px;
}

.explorerZonLink {
	color: #004c99 !important;
}

#explorerParamWrapper {
	position: relative;
	margin: -18px 0px 6px;
	min-height: 1.2em;
	width: 595px;
	left: 140px;
}

#explorerParamWrapper span:first-child:before {
	content: '?';
}

#explorerParamWrapper span:before {
	content: '&';
}

#explorerParamWrapper span:after {
	content: '=';
}

#explorerParamWrapper input {
	width: 400px;
}

#explorerEndpoint, #explorerXAuth,
#explorerParamWrapper input,
#explorerEndpointId {
	margin: 0px;
	padding: 0px;
	border: none;
	border-width: 0px;
	background: #fafafa;
	color: #222;
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

#explorerParamWrapper input {
	color: #777;;
}

#explorerEndpointSpan {
	margin-left: 4px;
}

#main table {
	background-color: #fafafa;
	border-spacing: 0px;
	width: 100%;
}

#main table td {
	border: 1px solid #ccc;
	padding: 5px 10px;
	border-right-width: 0px;
    border-bottom-width: 0px;
}

#main table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#main table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#main table tr:first-child td:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

#main table tr:first-child td:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

#main table tr td:last-child {
    border-right-width: 1px;
}

#main table tr:last-child td {
    border-bottom-width: 1px;
}

#main table td span.default {
	color: #aaa;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#main table td span.default:before {
	content: '=';
	padding-left: 3px;
}

#main .floatColumn {
	float: left;
	width: 360px;
	text-align: justify;;
}

#main .floatColumn.leftColumn {
	padding-right: 20px;
}

#main #indexImg {
	background-image: url(https://img.zeit.de/administratives/header.jpg);
	background-size: cover;
	width: 740px;
	height: 250px;
}

#main .indexImgCredit {
	color: #555;
	font-size: 0.8em;
	float: right;
	margin: 228px 0 0 0;
	background: #fff;
	padding: 3px;
}
